---
layout: default
title: Cores - <Wipe> @ Gallywix
body_classes: uldir_bg
---

{% include header.html %}
{% include menu.html %}

<div id="page" class="container">
  <div class="row">
    <div class="col wow-dialog">
      <div class="wow-dialog-content">
        <h1 style="text-align: center;">Core de Raid da &lt;Wipe&gt; @ Gallywix</h1> <br>
        <p>
          <br>
          Nosso grupo de core encerrou Legion 11/11 M Antorus The Burning Throne!
          <br>
          Atualmente 5/8 M Uldir e Buscamos Cutting Edge.
          <ul>
            <li>Estamos recrutando: Tanks, Heales e DPSs</li>
            <li>Horários de Raid: Seg, Ter e Qua 20:00 - 23:00</li>
            <li>Sextas-Feira as 20:00 o Core Mythic raida e convida todos da guild.</li>
            <li>
              Se quiser wipar conosco <a href="/cores/recruit.html">preencha este formulário</a> e mande um whisp para <b>Rudoxi</b> (btag: <b>Rudiney#1958</b>) ou <b>Drain</b> (btag: <b>Goodwaer#1387</b>) ou <b>Arimatham</b> (btag: <b>Arimatham#1881</b>)
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>