---
layout: default
title: Guias - <Wipe> @ Gallywix
body_classes: uldir_bg
---

{% include header.html %}
{% include menu.html %}

<div id="page" class="container">
  <div class="row">
    <div class="col wow-dialog">
      <div class="wow-dialog-content">
        <h2>Gerais:</h2>
        <ul>
          <li><a href="/guias/como_raidar_melhor.html">Como Raidar Melhor</a></li>
        </ul>

        <h2>Battle For Azeroth:</h2>
        <ul>
          <li>
            Cerco à Dazar'alor:
            <ul>
              <li><a href="/guias/dazaralor/champion.html">1 - Campeão da Luz</a></li>
              <li><a href="/guias/dazaralor/grong.html">2 - Grong</a></li>
              <li><a href="/guias/dazaralor/mestres.html">3 - Mestres Flamejade</a></li>
              <li><a href="/guias/dazaralor/opulencia.html">4 - Opulência </a></li>
              <li><a href="/guias/dazaralor/conclave.html">5 - Conclave dos Escolhidos</a></li>
              <li><a href="/guias/dazaralor/rei.html">6 - Rei Rastakhan</a></li>
              <li><a href="/guias/dazaralor/muralha.html">7 - Bloqueio da Muralha de Tempestade</a></li>
              <li><a href="/guias/dazaralor/jayna.html">8 - Grã-senhora Jaina Proudmore</a></li>
            </ul>
          </li>
          <br>
          <li>
            Guia de Raid - Uldir:
            <ul>
              <li><a href="/guias/uldir/taloc.html">1 - Taloc</a></li>
              <li><a href="/guias/uldir/madre.html">2 - M.A.D.R.E.</a></li>
              <li><a href="/guias/uldir/devoradora.html">3 - Devoradora Fétida</a></li>
              <li><a href="/guias/uldir/zekvoz.html">4 - Zek’voz</a></li>
              <li><a href="/guias/uldir/vectis.html">5 - Vectis</a></li>
              <li><a href="/guias/uldir/zul.html">6 - Zul</a></li>
              <li><a href="/guias/uldir/mythrax.html">7 - Mythrax</a></li>
              <li><a href="/guias/uldir/ghuun.html">8 - G'huun</a></li>
            </ul>
          </li>
          <li><a href="/guias/dicas_upar_em_bfa.html">Dicas para upar em BfA</a></li>
        </ul>
        <h2>Antorus The Burning Throne:</h2>
        <ul>
          <li><a href="/guias/argus_mythic.html">Mythic Argus</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>