---
layout: default
title: Guia para ser um Bom Raider - <Wipe> @ Gallywix
body_classes: uldir_bg
---

{% include header.html %}
{% include menu.html %}

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="wow-dialog wow-paper-background summary">
        <div class="wow-dialog-content">
          <ul>
            <li><a href="#dpw">Você é o seu DPW: Deaths Per Week </a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="wow-dialog">
        <div class="wow-dialog-content">

          <h1 class="entry-title text-center">Raid Awareness is a Learned and Practiced Skill</h1>
          <div class="text-center"><small><i>Desculpe mas não achei uma tradução boa para este título</i></small></div>

          <br>

          <p><em>Esta é uma tradução livre de um ótimo post feito em 2014 no site do jogador <i>hamlet</i> que, infelizmente parece estar fora do ar teste momento mas, <a href="http://iam.yellingontheinternet.com/2014/01/29/raid-awareness-is-a-learned-and-practiced-skill/">aqui esta o link</a> mesmo assim.</em></p>

          <hr>

          <p>
            Já escrevi muitos guias de WoW nos últimos anos, cobrindo em detalhes o melhor e o pior de uma determinada classe mas, sempre soube que estava abordando uma pequena parte do que faz um bom Raider. Embora existam razões para valorizar os jogadores que saibam otimizar perfeitamente a o uso de habilidades de sua classe, eles <b>não</b> são substitutos para um jogador que se destaca na habilidade mais importante de todas: <b>não morrer</b>. <em>Em resumo: não morrer é a habilidade mais importante em uma Raid</em>
          </p>

          <p>
            Muito já foi escrito sobre como ser um bom DPS, Healer ou tank. Se você quer raidar pelo menos em um nível intermediário, eu imagino que já deva ter lido sobre isso. Existe muito conteúdo sobre isso pois é a principal maneira de um jogador medir a sua própria performance e a maior parte desta "performance" é medida em números simples (DPS, HPS, dano recebido, etc). Porém, mais importante que estes números, existe um ponto que espero deixar muito claro neste post: <b>A sua consciência e sobrevivência em uma Raid é uma habilidade sua como jogador</b> acima de meros números de performance do seu personagem.
          </p>

          <p>Uma vez que concorde comigo que não morrer ou matar seus colegas é uma área que você deve procurar sempre melhorar, este post traz uma série de coisas específicas que você pode fazer/praticar para melhorar isso. Vamos discutir sua técnica, como melhorar sua UI para ficar mais atento, estar mais consciente, sua rotina de luta e como ter um comportamente construtivo após um <b>wipe</b> mas, o que mais quero transmitir é a <b>mentalidade</b>. É impossível listar todos os fatores envolvidos em uma luta mas, se você entender que toda morte é um enigma a ser resolvido e que em algum lugar numa série de eventos existe uma decisão que você poderia ter feito melhor pra evitar esta morte, você pode treinar sua mente para enxergar isso.</p>



          <h2 id='dpw'>Você é o seu DPW: Deaths Per Week <small><em>(Mortes Por Semana)</em></small></h2>
          <p><em>"Você esta sempre morrendo na shadow realm. Eu não morro na shodow realm. Você só precisa jogar melhor. Esta é minha avaliação da situação"</em></p>

          <p>
            O MVP (Jogador Mais Valioso) do seu grupo de raid não é aquele no top do DPS; É o jogador que não morre por besteira à 3 meses.
            Dar muito DPS é raro, mas dar um bom DPS é relativamente normal.
            Um jogador que dá muito DPS mas sempre morre por mecânicas simples não é nada especial.
            Um jogador que dá um DPS mediano e quase nunca morre é o mais valioso que você pode encontrar no seu recrutamento. Uma raid cheia deste tipo de jogador, mesmo que nenhum deles estejam no rank mundial de top DPS, vai atingir o objetivo que realmente interessa: matar o boss.
          </p>


          <p>
            O fator que limita a velocidade em que o seu grupo evolui e mata o boss é o número de erros evitáveis cometidos por cada indivíduo do seu grupo.
            Independente de outros fatores envolvidos, qualquer morte (até mesmo uma somente) torna a luta mais difícil ou até impossível.
            A matemática não esta do seu lado: seu grupo provavelmente só matará o boss quando todos os 10/20 membros do seu grupo lutarem por vários minutos sem cometer nenhum erro fatal.
          </p>

          <p>
            Mesmo que você pense que o problema de uma luta possa ser a estratégia utilizida, considere o seguinte: Sem cometer nenhum erro, seu grupo só precisaria de uma try para testar e validar uma estratégia. Todo wipe poderia implicar diretamente em uma melhoria na estratégia da luta. São os erros cometidos pelos jogadores que fazem o seu grupo perder tempo (as vezes a noite toda) insistindo em uma estratégia que estava errada desde o princípio.
          </p>

          <p>
            Não quero me prolongar mais neste assunto portanto vou deixar isso claro para o resto deste artigo: <b>A maneira mais importante de você melhorar sua habilidade como um jogador e a sua colaboração com o grupo é: reduzir sua taxa de erros</b>
          </p>


        </div>
      </div>
    </div>
  </div>
</div>