---
layout: default
title: Guia para ser um Bom Raider - <Wipe> @ Gallywix
body_classes: uldir_bg
---

{% include header.html %}
{% include menu.html %}

<div class="container">
  <div class="row">
    <div class="col-md-3 p-0">
      <div class="wow-dialog wow-paper-background summary">
        <div class="wow-dialog-content">
          <ul>
            <li><a href="#dpw">Você é o seu DPW: Deaths Per Week</a></li>
            <li><a href="#ui">Interface é uma ferramenta para chamar sua atenção</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-9 p-0">
      <div class="wow-dialog">
        <div class="wow-dialog-content">

          <h1 class="entry-title text-center">Raid Awareness is a Learned and Practiced Skill</h1>
          <div class="text-center"><small><i>Desculpe mas não achei uma tradução boa para este título</i></small></div>

          <br>

          <p><em>Esta é uma tradução livre de um ótimo post feito em 2014 no site do jogador <i>hamlet</i>: <a href="http://iam.yellingontheinternet.com/2014/01/29/raid-awareness-is-a-learned-and-practiced-skill/">confira aqui o post original em Inglês</a>.</em></p>

          <hr>

          <p>
            Já escrevi muitos guias de WoW nos últimos anos, cobrindo em detalhes o melhor e o pior de uma determinada classe mas, sempre soube que estava abordando uma pequena parte do que faz um bom Raider. Embora existam razões para valorizar os jogadores que saibam otimizar perfeitamente a o uso de habilidades de sua classe, eles <b>não</b> são substitutos para um jogador que se destaca na habilidade mais importante de todas: <b>não morrer</b>. <em>Em resumo: não morrer é a habilidade mais importante em uma Raid</em>
          </p>

          <p>
            Muito já foi escrito sobre como ser um bom DPS, Healer ou tank. Se você quer raidar pelo menos em um nível intermediário, eu imagino que já deva ter lido sobre isso. Existe muito conteúdo sobre isso pois é a principal maneira de um jogador medir a sua própria performance e a maior parte desta "performance" é medida em números simples (DPS, HPS, dano recebido, etc). Porém, mais importante que estes números, existe um ponto que espero deixar muito claro neste post: <b>A sua consciência e sobrevivência em uma Raid é uma habilidade sua como jogador</b> acima de meros números de performance do seu personagem.
          </p>

          <p>Uma vez que entendeu que não morrer ou matar seus colegas é algo que você deve procurar sempre melhorar, este post traz uma série de dicas que você pode fazer e praticar para melhorar nisso. Vamos discutir sua técnica, como melhorar sua UI para ficar mais atento, como estar mais consciente, a sua rotina de luta e como ter um comportamente construtivo após um wipe mas, o que mais quero transmitir é a <b>mentalidade</b>. É impossível listar todos os fatores envolvidos em uma luta mas, se você entender que toda morte é um enigma a ser resolvido e que em algum lugar numa série de eventos existe uma decisão que você poderia ter feito melhor pra evitar esta morte, você pode treinar sua mente para enxergar isso.</p>



          <h2 id='dpw'>Você é o seu DPW: Deaths Per Week <small><em>(Mortes Por Semana)</em></small></h2>
          <p><em>"Você esta sempre morrendo na shadow realm. Eu não morro na shodow realm. Você só precisa jogar melhor. Esta é minha avaliação da situação"</em></p>

          <p>
            O MVP (Jogador Mais Valioso) do seu grupo de raid não é aquele no top do DPS; É o jogador que não morre por besteira à 3 meses.
            Dar muito DPS é raro, mas dar um bom DPS é relativamente normal.
            Um jogador que dá muito DPS mas sempre morre por mecânicas simples não é nada especial.
            Um jogador que dá um DPS mediano e quase nunca morre é o mais valioso que você pode encontrar no seu recrutamento. Uma raid cheia deste tipo de jogador, mesmo que nenhum deles estejam no rank mundial de top DPS, vai atingir o objetivo que realmente interessa: matar o boss.
          </p>


          <p>
            O fator que limita a velocidade em que o seu grupo evolui e mata o boss é o número de erros evitáveis cometidos por cada indivíduo do seu grupo.
            Independente de outros fatores envolvidos, qualquer morte (até mesmo uma somente) torna a luta mais difícil ou até impossível.
            A matemática não esta do seu lado: o seu grupo provavelmente só matará o boss quando <b>todos os 10/20 membros do seu grupo lutarem por vários minutos sem cometer nenhum erro fatal</b>.
          </p>

          <p>
            Mesmo que você pense que o problema de uma luta possa ser a estratégia utilizida, considere o seguinte: Sem cometer nenhum erro, seu grupo só precisaria de uma try para testar e validar uma estratégia. Todo wipe poderia implicar diretamente em uma melhoria na estratégia da luta. São os erros cometidos pelos jogadores que fazem o seu grupo perder tempo (as vezes a noite toda) insistindo em uma estratégia que estava errada desde o princípio.
          </p>

          <p>
            Não quero me prolongar mais neste assunto portanto vou deixar isso claro para o resto deste artigo: <b>A maneira mais importante de você melhorar sua habilidade como um jogador e a sua colaboração com o grupo é: reduzir sua taxa de erros</b>
          </p>

          <br>

          <h2>Você não morreu por acidente e provavelmente foi sua culpa mesmo</h2>
          <p><em>"Viu como a habilidade estava em mim, e eu me movi, e ela não me acertou?! É como mágica!"</em></p>

          <p>
            Raidar é fundalmentamente um desafio de organização mental.
            A sua atenção é um recurso tão fundamentar quanto a sua mana.
            Gastar ela em motivos errados faz com que você erre e, possivelmente, morra!
          </p>

          <p>
            Quando você fica em cima do fogo por 3 segundos e morre, o problema não é o seu tempo de reação. <small>Mesmo que você seja por algum motivo muito abaixo da média humana, seu tempo de reação seria em torno de meio segundo.</small>
            Muito provavelmente o problema na verdade é que você nem percebeu que estava pisando no fogo. E esta falta de atenção pode acontecer por alguns motivos:
            <ul>
              <li>
                Você ficou mais de 3 segundos sem olhar para a parte da tela que era importante (neste caso, os pés do seu personagem;
              </li>
              <li>
                Partes importantes da sua UI (Raid Frame por exemplo) estava escondendo a sua visão;
              </li>
              <li>
                Era uma habilidade do boss que acontece em tempo pré-determinado mas você estava fazendo outra coisa no momento que precisava estar preparado para ela;
              </li>
              <li>
                A sua interface não deu um alerta chamativo o suficiente comparado a importância da habilidade;
              </li>
              <li>
                Alguma coisa diferente aconteceu mais cedo na luta e fez com que você estivesse fora da sua posição normal ou fazendo coisa que normalmente não faz;
              </li>
              <li>
                Um evento que você espera não aconteceu (o Raid Lider não avisou no discord por exemplo).
              </li>
            </ul>
          </p>

          <p>
            Cada um destes fatores são fáceis de evitar.
            Se você acha que as mortes por estes fatores são eventos aleatórios ou ao acaso, ou acha que são uma limitação das suas habilidades como jogador, o seu progresso como Jogador de Raid vai esbarrar em uma barreira. O restante deste post é sobre como lidar melhor com estes fatores.
            Os dois princiais métodos que iremos discutir são:
            <ol>
              <li>
                Nunca estar desatento a habilidades ou debuffs que podem te matar, configurando corretamente sua interface para o combate e varrendo visualmente o combate;
              </li>
              <li>
                Antecipar sua resposta a habilidades do boss antes que elas ocorram, por meio da formação de rotinas de luta e revisão dessas rotinas após os wipes.
              </li>
            </ol>
          </p>

          <h1 id="ui">Interface é uma ferramenta para chamar sua atenção</h1>
          <p>
            Se alguém te espetasse com uma agulha sempre que o fogo surgisse nos seus pés, você certamente iria notar imediatamente, 100% das vezes.
            Isso chamaria sua atenção acima de qualquer outra coisa que seu cérebro estivesse fazendo.
            Associar este alerta a um evento que precisa da sua resposta acima de qualquer outra coisa (ou sai do fogo ou morre) é o casamento perfeito.
            É este o princípio que você deve seguir ao configurar sua interface. Recriar este resultado em um cenário mais prático e menos doloroso.
          </p>
          <p>
            A interface do jogo é muito pessoal, uma boa interface é aquela em que te mostra o mais importante no momento certo.
            Uma boa interface não é sobre quais add-ons usar, mais sim como configurar eles.
            Quando quiser melhorar sua interface, você deve procurar primeiro nas configurações dos add-ons que já utiliza para resolver um problema que esta tendo.
            A única resposta errada para <em>"qual é o melhor addon para fazer isso?"</em> é <em>"o addon mais utilizado que já tem tudo configurado por padrão"</em>. Se você não sabe <b>o que, quando nem aonde</b> você precisa ver algo, você não terá uma boa interface.
          </p>
          <p>
            Um exemplo concreto de interface que todo <i>Raider</i> deveria usar é destacar os debuffs que você precisa se mover rápido senão você morre. Como já discutimos antes, ficar vivo é sua maior prioridade portanto, a sua inteface deve seguir a mesma regra. Coloque este tipo de aviso em destaque acima de outras coisas. Ou outro tipo de alerta que você consiga perceber imediatamente o que fazer. Este é um exemplo bem básico e a sua interface esta bem falha se não seguir isso.
          </p>
          <p>Eu tirei algumas screenshots no momento que peguei um perigoso debuff. Veja abaixo a comparação dos debuffs na interface padrão e com a minha interface:</p>

          <div class="wow-dialog" style='text-align: center; display: inline-block; margin-bottom: -20px'>
            <div class="wow-dialog-content">
              <img src="http://iam.yellingontheinternet.com/wp-content/uploads/2014/01/WoWScrnShot_012314_232342.jpeg" style="width: 100%;">
              <div class="text-center pt-2"><em>Interface default com debuffs perto do minimapa</em></div>
            </div>
          </div>

          <div class="wow-dialog" style='text-align: center; display: inline-block;'>
            <div class="wow-dialog-content">
              <img src="http://iam.yellingontheinternet.com/wp-content/uploads/2014/01/WoWScrnShot_010314_010106.jpeg" style="width: 100%;">
              <div class="text-center pt-2"><em>Exemplo da minha Interfaco com o debuff em destaque</em></div>
            </div>
          </div>

          <p>
            Este tipo de configuração é muito simples de fazer e com isso ninguém precisa me avisar "Hamlet, você esta com o debuff".
            Na minha opinião, um jogador que não consegue preparar a interface para debuffs simples como este é muito pior que um jogador que esta sem Flask por exemplo.
            <b>A chance de um jogador com uma interface ruim wipar a luta é maior do que alguém com um DPS baixo.</b>
          </p>

          <p><em>Continua...</em></p>

        </div>
      </div>
    </div>
  </div>
</div>