---
layout: default
title: Raid Uldir - <Wipe> @ Gallywix
body_classes: antorus_sky_bg
---

{% include header.html %}
{% include menu.html %}

<div id="page" class="container">
  <div class="row">
    <div class="col wow-dialog wow-paper-background">
      <div class="wow-dialog-content">
        <h2>Bosses:</h2>
        <ul>
          <li><a href="/guias/uldir/taloc.html">1 - Taloc</a></li>
          <li><a href="/guias/uldir/madre.html">2 - M.A.D.R.E.</a></li>
          <li><a href="/guias/uldir/devoradora.html">3 - Devoradora Fétida</a></li>
          <li><a href="/guias/uldir/zekvoz.html">4 - Zek’voz</a></li>
          <li><a href="/guias/uldir/vectis.html">5 - Vectis</a></li>
          <li><a href="/guias/uldir/zul.html">6 - Zul</a></li>
          <li><a href="/guias/uldir/mythrax.html">7 - Mythrax</a></li>
          <li><a href="/guias/uldir/ghuun.html">8 - G'huun</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>